.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    font-size: 12px;
        a {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
        }
        a:hover{
            transform: scale(1.05);
        }
        img {
            margin-left: 4px;
        }
}