$red-color: #df4040;
$green-color: #008000;
$yellow-color: #b87115;
$active-player-color: #0c420c;
$score-buttons-background-color:  #464343;
$game-container-border-radius: 16px;
$game-container-border-radius-v2: 8px;


.game-container{
  position: relative;
  min-height: 90%;
  width: 420px;
  min-width: 340px;
  padding: 16px 0px;
  color:white;
  background-color: #292828;
  border-radius: $game-container-border-radius;
}


//Two players preview:
.two-players-preview{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 12px;
      .current-active-player{
        border-radius: $game-container-border-radius;
        background-color: $active-player-color;
      }
}
//Game players section:
.game-players-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  padding: 12px;
  //Player-legs:
  .player-legs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    margin: 0px 6px;
    background-color: blue;
    border-radius: $game-container-border-radius-v2;
  }
  //Current player section:
  .current-player-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
        height: 100%;
        padding: 12px;
            .current-player-name-legs{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              padding: 6px;
              border-bottom: 1px solid white;
                  .current-player-name{
                    display: flex;
                    align-items: center;
                        img{
                          margin-right: 6px;
                        }
                  }
                } 
            .current-player-points-left{
                font-size: 38px;
               
            }
            .checkout-options{
                font-size: 10px;
                margin-bottom: 6px;
            }
            .current-player-stats{
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              font-size: 12px;
              color: $red-color;
            }
            .current-player-stats p{
              font-size: 12px;
              color: white;
            }
      }
      //Game player list
      .game-players-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
        min-height: 100%;
        padding: 12px;
            .game-players-list-player{
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              padding: 4px 12px;
              border-radius: $game-container-border-radius-v2;
                  .game-players-list-player-name{
                    display: flex;
                    align-items: center;
                        img{
                          margin-right: 6px;
                        }
                  }
                  .game-players-list-stats{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
        }
        .active-player{
          background-color: $green-color;
        }
      }
      
}


//Current player throw paragraph:
.current-player-throw{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $yellow-color;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 6px 12px;
  text-align: center;
        button{
          display: flex;
          align-items: center;
          position: absolute;
          left: 10px;
          font-size: 12px;
          color: white;
          background-color: transparent;
          border: none;
          border-style: none;
          cursor: pointer;
                span{
                  margin-left: 4px;
                }
        }
        .current-player-throw-message{
          font-size: 12px;
        }
        
}


//Main score input section:
.throw-value-section{
  display: grid;
  width: 100%; 
  grid-template-columns: 1fr 3fr 1fr; 
  align-items: center; 
      button{
        height: 100%;
        padding: 4px 8px;
        color: white;
        border: none;
        cursor: pointer;
      }  
      .input-toggle{
        background-color: $score-buttons-background-color;
        border-bottom-left-radius: $game-container-border-radius
      }
      .score-input-section{
        display: grid;
        grid-template-columns: 5fr 1.5fr;
        height: 100%;
            input{
              padding: 0px 6px;
              border: none;
              background-color: #fafafa;
              outline: none; 
              box-shadow: none; 
              user-select: none;
              cursor: default; 
            }
            input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            input[type="number"] {
              -moz-appearance: textfield;
            }
            .remove-last{
              background-color: $red-color;
             
            }
      }
      .submit-score{
        background-color: $green-color; 
        border-bottom-right-radius: $game-container-border-radius;
      }
      .current-player-throws{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        padding: 6px;
        background-color: transparent;
            .current-throw{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20%;
              height: 80%;
              color: black;
              background-color:  #fafafa;
              border-radius: $game-container-border-radius-v2;
            }
      }
}



.multiplier-section{
  display: flex;
  align-items: center;
  height: 28px;
  margin-bottom: 6px;
  background-color: transparent;
  border: none;
}
.multiplier-section button{
  height: 28px;
  width: 84px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.multiplier-section button.active{
  background-color: $green-color;
  border-radius: $game-container-border-radius;
}

.score-input {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  width: 100%; 
  margin: 0 auto;

}

.score-input button {
  padding: 20px; 
  font-size: 22px; 
  color: white;
  background-color: $score-buttons-background-color;
  transition: background-color 0.2s ease; 
  cursor: pointer; 
}

.score-buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin: 0 auto;
}

.score-buttons button {
  padding: 15px;
  font-size: 16px;
  color: white;
  background-color: $score-buttons-background-color;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.settings-buttons{
  height: 38px;
  margin-top: 16px;
  button{
    border: none;
    border-style: none;
    font-size: 16px;
    color: white;
    width: 50%;
    height: 100%;
    cursor: pointer;
  }
  .go-back{
    background-color: $red-color;
    border-top-left-radius: $game-container-border-radius;
    border-bottom-left-radius: $game-container-border-radius;
  }
  .restart-game{
    background-color: $green-color;
    border-top-right-radius: $game-container-border-radius;
    border-bottom-right-radius: $game-container-border-radius;
  }

}



.team-header-legs{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
  width: 100%;
  padding: 6px;
}



.error, .game-over-popup {
  position: absolute; 
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%; 
  left: 50%; 
  height: 50%;
  width: 82%;
  padding: 20px; 
  transform: translate(-50%, -50%); 
  color: white; 
  background-color: rgba(14, 13, 13, 0.8); 
  border-radius: $game-container-border-radius-v2;
  z-index: 1000;
        .error-content, .game-over-popup-content{
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
                
                h3{
                  font-size: 32px;
                }
                p{
                  text-align: center;
                }
                button{
                  height: 18%;
                  width: 100%;
                  margin-top: 12px;
                  font-size: 16px;
                  color: white;
                  background-color: $red-color;
                  border: none;
                  border-radius: $game-container-border-radius-v2;
                  cursor: pointer;
                }
                .play-again{
                  background-color: $green-color;
                }
                .go-back{
                  background-color: $red-color;
                }
                .undo{
                  background-color: $yellow-color;
                }
               
        } 
}





  