
$font-family: var(--font-exo-regular), sans-serif;
$main-container-border-radius: 16px; 
$main-container-border-radius-v2: 8px;
$body-background-color: #1a153b; 
$game-container-background-color: #292828;
$main-container-background-color: #fafafa;
$red-color: #df4040;
$green-color: #008000;
$yellow-color: #b87115;
$active-player-color: #0c420c;
$score-buttons-background-color:  #464343;
$cricket-even-buttons-background-color: #333232;
$game-options-border-radius: 8px;
$border-style: 1px solid gray; 
$active-button-color: #df4040;


@mixin background-gradient($color, $amount) {
    background: $color;
    background: linear-gradient(
      to top right,
      lighten($color, $amount),
      darken($color, $amount)
    )
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

body{
    min-height: 100vh;
    width: 100vw;
    min-width: 340px;
    display: flex;
    padding: 0px 6px;
    justify-content: center;
    align-items: center;
    background-color: $body-background-color;
    overflow-x: auto;
    overflow-y: auto;
    @include background-gradient($body-background-color, 8%)
}

.main-container{
    position: relative;
    min-height: 90%;
    width: 420px;
    min-width: 340px;
    padding: 38px 38px;
    background-color: $main-container-background-color;
    border-radius: $main-container-border-radius;
}

//GAME CONTAINER:
.game-container{
  position: relative;
  min-height: 90%;
  width: 420px;
  min-width: 340px;
  padding: 16px 0px;
  color:white;
  background-color: $game-container-background-color;
  border-radius: $main-container-border-radius;

        button{
          transition: transform 0.2s ease; 
        }
        button:active {
          transform: scale(1.08);
        }

}

//TWO PLAYERS PREVIEW:
.two-players-preview{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 12px;

      .current-active-player{
        border-radius: $main-container-border-radius;
        background-color: $active-player-color;
      }
}

//GAME PLAYERS SECTION:
.game-players-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  padding: 12px;

        //REGULAR MODE:

            //Player-legs:
            .player-legs{
              display: flex;
              justify-content: center;
              align-items: center;
              height: 24px;
              width: 24px;
              margin: 0px 6px;
              background-color: blue;
              border-radius: $main-container-border-radius-v2;
            }
            
            //Current player section:
            .current-player-section{
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 45%;
              height: 100%;
              padding: 12px;

                      .current-player-name-legs{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        padding: 6px;
                        border-bottom: 1px solid white;

                              .current-player-name{
                                display: flex;
                                align-items: center;
                                    img{
                                      margin-right: 6px;
                                    }
                              }
                      }

                      .current-player-points-left{
                          font-size: 38px;
                        
                      }
                      .checkout-options{
                          font-size: 10px;
                          margin-bottom: 6px;
                      }

                      .current-player-stats{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        font-size: 12px;
                        color: $red-color;
                      }

                      .current-player-stats p{
                        font-size: 12px;
                        color: white;
                      }
            }

            //Game player list
            .game-players-list{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              width: 55%;
              min-height: 100%;
              padding: 12px;

                  .game-players-list-player{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 4px 12px;
                    border-radius: $main-container-border-radius-v2;

                        .game-players-list-player-name{
                          display: flex;
                          align-items: center;
                              
                              img{
                                margin-right: 6px;
                              }
                        }

                        .game-players-list-stats{
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        }
                  }

                  .active-player{
                    background-color: $green-color;
                  }
            }

        //TEAMS MODE:
        .teams-preview{
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          margin-bottom: 12px;

                  .team-section{
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      width: 45%;
                      height: 100%;
                      padding: 0px 12px 12px;

                              .team-header{
                                  display: flex;
                                  align-items: center;
                                  justify-content: center;
                                  border-bottom: 1px solid white;
                                  width: 100%;
                                  font-size: 10px;
                                  padding: 4px;
                                  margin-bottom: 2px;

                                          .team-legs{
                                              display: flex;
                                              justify-content: center;
                                              align-items: center;
                                              height: 18px;
                                              width: 18px;
                                              margin: 0px 6px;
                                              background-color: blue;
                                              border-radius: 6px;
                                          }
                              }     

                              .team-player{
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              width: 100%;
                              font-size: 13px;
                              padding: 2px;

                                      .team-player-name{
                                          display: flex;
                                          align-items: center;
                                          justify-content: start;
                                          width: 60%;

                                              img{
                                              margin-right: 6px;
                                              }
                                      }
                              } 

                              .team-points-left{
                                  font-size: 28px;
                              
                              }

                              .checkout-options{
                                  font-size: 10px;
                                  margin-bottom: 4px;
                              }

                              .team-stats{
                              display: flex;
                              justify-content: space-between;
                              align-items: center;
                              width: 100%;
                              font-size: 10px;
                              color: $red-color;
                              }

                              .team-stats p{
                              font-size: 10px;
                              color: white;
                              }
                  }
              
                  .current-active-team{
                  border-radius: $main-container-border-radius;
                  background-color: $active-player-color;
                  }
      } 

}

//CURRENT PLAYER THROW PARAGRAPH:
.current-player-throw{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $yellow-color;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 6px 12px;
  text-align: center;

        button{
          display: flex;
          align-items: center;
          position: absolute;
          left: 10px;
          font-size: 12px;
          color: white;
          background-color: transparent;
          border: none;
          border-style: none;
          cursor: pointer;

                span{
                  margin-left: 4px;
                }
        }

        .current-player-throw-message{
          font-size: 12px;
        }
        
}



//SCORE SECTION:
.throw-value-section{
  display: grid;
  width: 100%; 
  grid-template-columns: 1fr 3fr 1fr; 
  align-items: center; 

      button{
        height: 100%;
        padding: 4px 8px;
        color: white;
        border: none;
        cursor: pointer;
      }
  
      .input-toggle{
        width: 84px;
        background-color: $score-buttons-background-color;
        border-bottom-left-radius: $main-container-border-radius
      }

      .buttons-active {
        border-bottom-left-radius: 0;
      }

      .input-active {
        border-bottom-left-radius: $main-container-border-radius;
      }

      .score-input-section{
        display: grid;
        grid-template-columns: 5fr 1.5fr;
        height: 100%;

            input{
              padding: 0px 6px;
              border: none;
              background-color: #fafafa;
              outline: none; 
              box-shadow: none; 
              user-select: none;
              cursor: default; 
            }

            input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            input[type="number"] {
              -moz-appearance: textfield;
            }

            .remove-last{
              background-color: $red-color;
             
            }
      }

      button.submit-score{
        width: 84px;
        background-color: $green-color; 
        border-bottom-right-radius: $main-container-border-radius;
      }
     

      .current-player-throws{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        padding: 6px;
        background-color: $cricket-even-buttons-background-color;

            .current-throw{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20%;
              height: 80%;
              color: black;
              background-color:  #eeeeee;
              border-radius: $main-container-border-radius-v2;
            }
      }
}




//MULTIPLIER SECTION:
.multiplier-section{
  display: flex;
  align-items: center;
  height: 28px;
  margin-bottom: 6px;
  background-color: transparent;
  border: none;
}
.multiplier-section button{
  height: 28px;
  width: 84px;
  color: white;
  background-color: $score-buttons-background-color;
  border: none;
  cursor: pointer;
}

.multiplier-buttons button:first-child {
  border-bottom-left-radius: $main-container-border-radius;
}
.multiplier-buttons button:last-child {
  border-bottom-right-radius: $main-container-border-radius;
}
.multiplier-section button.active{
  background-color: $green-color;
}




//SCORE BUTTONS SECTION:
.score-buttons-section {
  position: relative; 
  width: 100%; 
  height: 300px; 
  display: flex;
  align-items: center;
  justify-content: center;

        .score-input,
        .score-buttons {
          width: 100%;
          height: 100%;
          display: grid;
          place-items: center; 
        }

        .score-input {
          grid-template-columns: repeat(3, 1fr); 
        }

        .score-buttons {
          grid-template-columns: repeat(5, 1fr); 
        }

        .score-input button,
        .score-buttons button {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%; 
          height: 100%; 
          padding:10px; 
          font-size: 16px;
          color: white;
          background-color: $score-buttons-background-color;
          cursor: pointer;
        }

        .base-value {
          font-size: 14px; 
        }
        
        .multiplied-value {
          font-size: 10px;
          color: rgba(255, 255, 255, 0.7);
        }
}


//CRICKET SCORE BUTTONS:

//two-players-view:
.cricket-score-buttons-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}


.miss-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6px 25px;
      button{
        padding: 5px 10px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        border: none;
      }
}

.cricket-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
        button{
          padding: 5px 10px;
          background-color: transparent;
          color: white;
          cursor: pointer;
          border: none;
        }
}

.player-score{
  width:30%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.players-row-when-more-than-two-players {
  width: 60%;
  display: flex;
  justify-content: space-between; 
  margin-top: 10px;
  margin-bottom: 5px;
}

.player-name {
  flex: 1; 
  text-align: center;
  font-size: 12px;
}

// >2 players view:
.cricket-score-buttons-section-when-more-than-two-players {
  width: 100%; 
  display: flex;
  flex-direction: column;
        .miss-button{
          width: 40%;
          margin-left: auto;
        }
}

.score-row {
  display: flex;
  width: 100%; 
  justify-content: space-between;
  background-color: transparent;
  height: 40px;
}
.score-row:nth-child(odd) {
  background-color: $cricket-even-buttons-background-color;
}


.player-scores-section-when-more-than-two-players {
  width: 60%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-score-when-more-than-two-players {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%; 
  background-color: transparent;
  border-right: 1px solid gray;
 
}

.cricket-buttons-when-more-than-two-players {
  width: 40%;
  display: flex;
  justify-content: space-around;
      button {
        padding: 5px 10px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        border: none;
      }
}

.completed-sector{
  position: relative;
}
.completed-sector::after {
  content: '';
  position: absolute;
  top: 50%; 
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white; 
  transform: translateY(-50%);
}







//SETTINGS BUTTONS SECTION:
.settings-buttons{
  height: 38px;
  margin-top: 16px;

      button{
        border: none;
        border-style: none;
        font-size: 16px;
        color: white;
        width: 50%;
        height: 100%;
        cursor: pointer;
      }

      .go-back{
        background-color: $red-color;
        border-top-left-radius: $main-container-border-radius;
        border-bottom-left-radius: $main-container-border-radius;
      }

      .restart-game{
        background-color: $green-color;
        border-top-right-radius: $main-container-border-radius;
        border-bottom-right-radius: $main-container-border-radius;
      }

}




//ERROR/GAMEOVER POP-UP SECTION:
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
}

.error, .game-over-popup {
  position: absolute; 
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%; 
  left: 50%; 
  height: 50%;
  width: 82%;
  padding: 20px; 
  transform: translate(-50%, -50%); 
  color: white; 
  background-color: rgba(14, 13, 13, 0.8); 
  border-radius: $main-container-border-radius-v2;
  z-index: 1000;

        .error-content, .game-over-popup-content{
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
                
                h3{
                  font-size: 32px;
                }

                p{
                  text-align: center;
                }

                button{
                  height: 18%;
                  width: 100%;
                  margin-top: 12px;
                  font-size: 16px;
                  color: white;
                  background-color: $red-color;
                  border: none;
                  border-radius: $main-container-border-radius-v2;
                  cursor: pointer;
                }

                .play-again{
                  background-color: $green-color;
                }

                .go-back{
                  background-color: $red-color;
                }

                .undo{
                  background-color: $yellow-color;
                }
               
        } 
}

//GAME ONLINE LOBBY:
.game-header{
  font-size: 22px;
  text-align: center;
  color: #858585;
  margin-bottom: 16px;
}

.game-online-players {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px 10px;
  height: 36px;
  border: $border-style;
  border-radius: $game-options-border-radius;
}

.player-host, .player-joiner{
  width: 42%;
  display: flex;
  align-items: center;
  padding: 4px 10px;
  font-size: 13px;
      img {
        margin-right: 4px;
      }
}


.url{
  font-size: 10px;
  color: #3f3e3e;
}

.url-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-icon {
  cursor: pointer; 
  transition: transform 0.2s;
}

.copy-icon:hover {
  transform: scale(1.1);
}



