.opponent-turn-to-throw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 377px;
    color: white;
                .timeout{
                    font-size: 64px;
                    margin-top: 28px;
                    color: white;
                }
}